.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    border: black 1px solid;
    border-radius: 5px;
    gap: 10px;
}

.name {
    margin: 0;
}

.email {
    margin: 0;
}